.app-layout {
    width: 500px;
    background-color: #fff;
    overflow-x: auto;
}

@media (min-width: 500px) {
    .app-layout {    
        width: 100%;
    }
}

@media (min-width: 800px) {
    .app-layout {    
        min-width: 500px;
        max-width: 800px;
        margin: 0 auto;
    }
}
