.app-layout {

}

.app-layout__content-wrap {
    display: flex;
    align-items: stretch; 
    min-height: calc(100vh);
    padding-top: 50px;
    padding-bottom: 50px;
}

.app-layout__content {
    flex: 1; 
}
