:root {
    --color-primary: #3498db;
    --color-secondary-100: #ff008c;
    --color-secondary-200: #e8178a;
    --color-dark-200: #ddd;
    --color-dark-400: #999;
    --color-text: #fff;
    --color-bg: #fff;
    --color-bg-secondary: #eee;
    --padding: 15px;
    --border-radius: 4px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    background-color: var(--color-bg-secondary);
    line-height: 1.6;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    padding: var(--padding);
}

.container {
    width: 500px;
    background-color: var(--color-bg);
    overflow-x: auto;
}

@media (min-width: 500px) {
    .container {    
        width: 100%;
    }
}

@media (min-width: 800px) {
    .container {    
        min-width: 500px;
        max-width: 800px;
        margin: 0 auto;
    }
}