.header {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #999;
    transform: translate(-50%, 0);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.header-hidden {
    transform: translate(-50%, -100%);
}