.user-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
}

.user-card__details-button {
    color: #fff;
    background-color: #e8178a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
}

.user-card__details-button:hover {
    background-color: #ff008c;
}

.user-card__user-details {
    background-color: #f9f9f9;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}