.user-card {
    border: 1px solid var(--color-dark-200);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin-bottom: 10px;
}

.user-card__details-button {
    color: var(--color-text);
    background-color: var(--color-secondary-200);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
}

.user-card__details-button:hover {
    background-color: var(--color-secondary-100);
}

.user-card__user-details {
    background-color: #f9f9f9;
    border-radius: var(--border-radius);
    padding: 10px;
    margin-top: 10px;
}